---
import MarkdownWrapper from './MarkdownWrapper.astro';
import Icon from './Icon.astro';
import Heimu from './Heimu.astro';

import type { CollectionEntry } from 'astro:content';
import { render } from 'astro:content';
import { formatInstant } from '../utils/format';

export interface Props {
  post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;

const { title, updateDate, pubDate } = post.data;

const { Content, headings } = await render(post);

const customComponents = {
  Heimu,
};
---

<div class="post-content">
  <h1 class="article-title">{title}</h1>
  {
    pubDate && (
      <time datetime={pubDate.toUTCString()} class="widget-with-icon">
        <Icon src="mdi:calendar" />
        {formatInstant(pubDate)}
      </time>
    )
  }
  {
    updateDate && (
      <time datetime={updateDate.toUTCString()} class="widget-with-icon">
        <Icon src="mdi:calendar-edit-outline" />
        {formatInstant(updateDate)}
      </time>
    )
  }
  <hr />
  <MarkdownWrapper>
    <Content components={customComponents} />
  </MarkdownWrapper>
</div>

<style lang="stylus">
  .article-title {
    margin: 0.5rem 0;
  }

  .widget-with-icon {
    font-family: var(--font-monospace);
    display: flex;
    align-items: center;
    gap: 6px;
  }

  hr {
    margin: 24px -8px
    border-style: dashed;
  }
</style>
